<h1>Angular Tutorial</h1>
<h2>Calculator</h2>

<div id="container">
<textarea name="text" id="txt" placeholder="OUTPUT"></textarea>
<button (click)="add(num1.value, num2.value)" class="btn">+</button>
<button (click)="sub(num1.value, num2.value)" class="btn">-</button>
<button (click)="mul(num1.value, num2.value)" class="btn">*</button>
<button (click)="divd(num1.value, num2.value)" class="btn">/</button>
<input type="number" placeholder="Enter first number" #num1>
<input type="number" placeholder="Enter second number" #num2>
</div>
